
 {% extends 'base.html' %}
 {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LILYWHITE STORE</title>
</head>
<body>

<h1>Lilywhite Store</h1>

<h2>Selamat Datang di {{Aplikasi}} </h2>
<p>Toko Football Terlengkap </p>
<p>Nama: {{Name}}</p>
<p>Kelas: {{class}} </p>
<p> NPM: {{NPM}}</p>


<a href="{% url 'main:create_items' %}">
  <button>+ Add Items </button>
</a>

<hr>

{% if not items_list %}
<p>Belum ada data items pada Lilywhite.</p>
{% else %}

{% for items in items_list %}
<div>
  <h2><a href="{% url 'main:show_items' items.id %}">{{ items.title }}</a></h2>

  <p><b>{{ items.get_category_display }}</b>{% if items.is_featured %} | 
    <b>Featured</b>{% endif %} | <i>{{ items.created_at|date:"d M Y H:i" }}</i></p>

  {% if items.thumbnail %}
  <img src="{{ items.thumbnail }}" alt="thumbnail" width="150" height="150">
  <br />
  {% endif %}

  <p>{{ items.content|truncatewords:10 }}...</p>

  <p><a href="{% url 'main:show_items' items.id %}"><button>Read More</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}
    
</body>
</html>

 {% endblock content %}